<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Register New Brick</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <link th:href="@{css/style.css}" rel="stylesheet">
</head>

<body>
  <div th:include="template.html::header"></div>

  <div class="container">
    <h1 class="display-3">Add new brick info</h1>

    <form class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="brick name" autocomplete="off"
            required>
        </div>
      </div>

      <br>

      <div class="form-group">
        <label class="control-label col-sm-2" for="descripcion">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="descripcion" name="descripcion" placeholder="detailed description" required
            autocomplete="off"></textarea>
        </div>
      </div>

      <br>

      <div class="form-group">
        <label class="control-label col-sm-2" for="cantidad">Quantity</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="bricks in stock" required
            autocomplete="off">
        </div>
      </div>

      <br>

      <div class="form-group">
        <label class="control-label col-sm-2" for="precio">Price</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" step="any" id="precio" name="precio" placeholder="price"
            autocomplete="off" required>
        </div>
      </div>

      <br>

      <div class="form-group">
        <label class="control-label col-sm-2" for="img">Image URL</label>
        <div class="col-sm-10">
          <input type="file" class="form-control-file" id="img" name="img">
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-2">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-saved"></span> Save
          </button>
        </div>
      </div>

    </form>
  </div>

  <script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>

</html>